n8n/steampulse-pipeline.json
{
  "name": "SteamPulse Daily Pipeline (GitHub Actions)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "triggerAtHour": 9 }]
        }
      },
      "id": "schedule",
      "name": "Daily 9AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $env.GITHUB_OWNER }}/{{ $env.GITHUB_REPO }}/actions/workflows/daily-publish.yml/dispatches",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"ref\": \"main\", \"inputs\": { \"mode\": \"full\", \"limit\": \"10\", \"lang\": \"all\" } }",
        "options": {
          "timeout": 10000
        }
      },
      "id": "trigger_workflow",
      "name": "1. Trigger GitHub Actions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait_start",
      "name": "2. Wait 30s for Run to Start",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $env.GITHUB_OWNER }}/{{ $env.GITHUB_REPO }}/actions/workflows/daily-publish.yml/runs?per_page=1&status=in_progress",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get_run",
      "name": "3. Get Active Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $env.GITHUB_OWNER }}/{{ $env.GITHUB_REPO }}/actions/runs/{{ $json.workflow_runs[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "poll_status",
      "name": "4. Poll Run Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "status_check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is_complete",
      "name": "5. Run Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "id": "wait_poll",
      "name": "Wait 60s & Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1250, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "conclusion_check",
              "leftValue": "={{ $json.conclusion }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is_success",
      "name": "6. Run Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1500, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"text\": \"SteamPulse Pipeline Complete ✅\\n\\nGitHub Actions run succeeded.\\nRun URL: {{ $node['4. Poll Run Status'].json.html_url }}\\n\\nSite: https://steamnewsdaily.com\" }",
        "options": {}
      },
      "id": "slack_success",
      "name": "7a. Slack: Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1750, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"content\": \"🎮 **SteamPulse Daily Update**\\n\\n✅ Pipeline completed successfully\\n🔗 {{ $node['4. Poll Run Status'].json.html_url }}\\n\\n👉 https://steamnewsdaily.com\" }",
        "options": {}
      },
      "id": "discord_success",
      "name": "7b. Discord: Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1750, 300]
    },
    {
      "parameters": {
        "text": "=🎮 SteamPulse updated! New gaming articles published today.\n\n#Steam #Gaming #PCGaming\n\nhttps://steamnewsdaily.com",
        "additionalFields": {}
      },
      "id": "twitter_post",
      "name": "7c. Twitter Post",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [1750, 500],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "",
          "name": "Twitter OAuth2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"text\": \"SteamPulse Pipeline FAILED ❌\\n\\nConclusion: {{ $node['4. Poll Run Status'].json.conclusion }}\\nRun URL: {{ $node['4. Poll Run Status'].json.html_url }}\" }",
        "options": {}
      },
      "id": "slack_fail",
      "name": "7d. Slack: Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1750, 700]
    }
  ],
  "connections": {
    "Daily 9AM Trigger": {
      "main": [[{ "node": "1. Trigger GitHub Actions", "type": "main", "index": 0 }]]
    },
    "1. Trigger GitHub Actions": {
      "main": [[{ "node": "2. Wait 30s for Run to Start", "type": "main", "index": 0 }]]
    },
    "2. Wait 30s for Run to Start": {
      "main": [[{ "node": "3. Get Active Run", "type": "main", "index": 0 }]]
    },
    "3. Get Active Run": {
      "main": [[{ "node": "4. Poll Run Status", "type": "main", "index": 0 }]]
    },
    "4. Poll Run Status": {
      "main": [[{ "node": "5. Run Complete?", "type": "main", "index": 0 }]]
    },
    "5. Run Complete?": {
      "main": [
        [{ "node": "6. Run Succeeded?", "type": "main", "index": 0 }],
        [{ "node": "Wait 60s & Retry", "type": "main", "index": 0 }]
      ]
    },
    "Wait 60s & Retry": {
      "main": [[{ "node": "4. Poll Run Status", "type": "main", "index": 0 }]]
    },
    "6. Run Succeeded?": {
      "main": [
        [
          { "node": "7a. Slack: Success", "type": "main", "index": 0 },
          { "node": "7b. Discord: Success", "type": "main", "index": 0 },
          { "node": "7c. Twitter Post", "type": "main", "index": 0 }
        ],
        [{ "node": "7d. Slack: Failed", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 1800
  },
  "tags": [
    { "name": "steampulse" },
    { "name": "automation" },
    { "name": "github-actions" }
  ]
}
